@font-face{
    font-family:packStyle;
    src:url("./crackman/Crackman.otf");
}

@font-face {
    font-family: robotoTwo;
    src: url("./Roboto/Roboto-Regular.ttf");
    src: url("./Roboto/Roboto-Bold.ttf");
    font-weight: bold;
    
}

*, *:before, *:after{
    margin:0;
    padding:0;
    font: inherit;
    font-family: roboto, sans-serif;
}
body{
    min-height: 100vh;
    background-color: #000000;
}

.imgWrapp{
    padding: 1em
}
img, video{
    display:block;
    object-fit: cover;
}
.brodText a{
    color:white

}

.fetStil, h3{
    font-family: robotoTwo;
}
/*Stil för layout*/
.introHem{
    margin-top: 15vw;
    max-width: 60vw;
    margin-inline: auto;
    background-color: #000000;
    color:white;
    padding: 2em;
}
 .introHem{
    border: 2px solid white;
    box-shadow:10px 10px 5px rgb(106, 245, 255),
     0px 0px 0px 0px rgb(255, 255, 255),
      0px 0px 5px 0px rgb(149, 234, 255),
       0px 0px 5px 10px rgb(105, 225, 255)
}

/*Start större skärm*/
@media (min-width:1200px){
    #teaserHem{
        background-color: #1c4649;
        color:white;
        padding:3em;
        margin:0;
    }

    .introHem{
        border-radius: 3px;
        max-width: 60vw;
        padding:0;
        margin-bottom: 16vh;
    }
    img{
        
        overflow: hidden; 
        

    }
    .textOchBild{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
.forklarandeTextRuta{
    border-radius: 3px;;
    background-color: white;
    color: #395275;
    opacity: 0;
}


    .brodText{
        padding:2em;
    }
    .bildSamling{
        display:grid;
        grid-column:auto;
        background-color: #3691a1;
        border-radius: 3px;
        padding: 2em;
    }
    #formTitel{
        background-color: white;
        color: #000000;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .fonsterBild:hover{
        transform: scale(1.5);
        transition: 1s;

    }
    .imgWrapp{
        justify-content: center;
        display: flex;
       overflow: hidden;
       align-items: center;
    }
}
/*Slut större skärm*/
.introHem h3{
    text-align: center;
    padding: 1em;
}
img{
    border-radius: 3px;
    

}
header{
    top:0;
    position:fixed;
    min-width: 100vw;
}

header, footer{
    min-height: 15vh;
    background-color: #289bbe;
    color:white;
    
}
h1{
    font-size: 3em;
}
header h1, header h2, footer p{
    
    text-align: center;
    margin:auto;
    padding:2px;
    font-family: packStyle;
}
h2{
    font-size: 2em;
}
nav ul{
    display:flex;
    justify-content: center;
    box-shadow: 0px 6px 10px -1px rgb(145, 239, 255);
    border-bottom: 1px solid white;
    
}
nav{
    background-color: #2baac0;
}
ul li,
li a {
    list-style-type: none;
    color:white;
    padding:3px;
    text-decoration: none;
}
#formularIn{
    display: grid;
    justify-content: space-between;
    padding: 1em;
}